.container {
  max-width: 100vw;

  img {
    margin-top: 2rem;
    width: 100%;
    height: auto;
  }
}

.content {
  padding: 0 2rem;

  margin: 2rem auto;
  max-width: 720px;

  .header {
    margin-top: 2rem;
    h1 {
      font-size: 2.5rem;
      font-weight: 600;
    }

    span,
    time {
      display: flex;
      gap: 8px;
      font-size: 0.9rem;
      color: var(--gray-300);
    }

    .info {
      margin-top: 0.5rem;
      display: flex;
      justify-content: start;
      gap: 1rem;
    }

    .edited {
      margin-top: 1rem;

      display: block;

      font-style: italic;
      font-size: 0.875rem;
      color: var(--gray-500);
    }
  }

  h2 {
    font-size: 1.55rem;
    font-weight: 600;
  }
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid var(--border);

  h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--white);

    margin-bottom: 0.5rem;
  }

  a {
    color: var(--pink);
    font-weight: 600;
  }

  div {
    padding-top: 3rem;
  }

  div + div {
    text-align: right;
  }
}
